@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Located in Grand Rapids, MI  49506<br />
    <abbr title="Phone">cell phone:</abbr>
    616.215.2894
</address>

<address>
    <strong>email: </strong><a href="mailto:ChristopherHelgeson@hotmail.com"> ChristopherHelgeson</a><br />
</address>